---
import BaseLayout from "@/layouts/BaseLayout.astro"
---

<BaseLayout title="Modern CSS - Jakob Kielland" gap>
  <section class="max-w-prose">
    <h1 class="mb-8 text-4xl font-bold">Exploring Features in Modern CSS</h1>
    <p class="mb-4">
      Here you can find the cheat sheet and presentation slides for the
      "Exploring Features in Modern CSS" talk:
    </p>
    <ul class="list-inside list-disc">
      <li>
        <a
          href="https://itzjacki.notion.site/Cheat-Sheet-Exploring-Features-in-Modern-CSS-dddc8610409b4309aec6a9c155731fa0"
          class="link-hover underline"
        >
          Cheat sheet</a
        >
      </li>
      <li>
        <a
          href="https://drive.google.com/file/d/1SQBrYSoxenWMNu8eNHPbXtpYLwaFDFoq/view?usp=sharing"
          class="link-hover underline"
        >
          Presentation slides
        </a>
      </li>
    </ul>
    <p class="mt-12">
      And in case you want to contact me, here's my

      <a
        class="link-hover underline"
        href="https://www.linkedin.com/in/jakobkielland/">LinkedIn</a
      > 😊
    </p>
  </section>
</BaseLayout>
