---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title="Swiss cheese - Jakob Kielland" gap>
  <section class="max-w-prose">
    <h1 class="mb-8 text-4xl font-bold">
      Swiss cheese, teamwork, and other things we should learn from the aviation
      industry
    </h1>
    <p class="mb-4">
      Here you can find the main takeaways of the talk in bullet-point format:
    </p>
    <h2 class="text-xl font-bold">People</h2>
    <ul class="list-inside list-disc">
      <li>Psychological safety starts at the top</li>
      <li>Reduce the power distance</li>
      <li>Talk about feedback</li>
      <li>Think aloud</li>
    </ul>
    <h2 class="mt-4 text-xl font-bold">Proficiency</h2>
    <ul class="list-inside list-disc">
      <li>Maintain your fingerspitzengefühl</li>
      <li>Use the power of Swiss cheese</li>
      <li>Embrace just culture</li>
      <li>Learn from decisions, not just mistakes</li>
      <li>Spread the knowledge</li>
    </ul>

    <h2 class="mt-4 text-xl font-bold">Procedure</h2>
    <ul class="list-inside list-disc">
      <li>Checklists must be made by users</li>
      <li>Checklists must be tested and iterated upon</li>
      <li>Killer items only, don't make a to-do list</li>
      <li>Include communication items</li>
      <li>Keep items simple</li>
      <li>Max 9 items</li>
    </ul>

    <p class="mt-12">
      Oh, and while you're here, why not add me on

      <a
        class="link-hover underline"
        href="https://www.linkedin.com/in/jakobkielland/">LinkedIn</a
      >? 😊
    </p>
  </section>
</BaseLayout>
