---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title="Jakob Kielland" gap>
  <h1 class="text-4xl font-bold">Hi, I'm Jakob! 👋</h1>
  <p class="max-w-xl">
    I love making stuff, and this page is a sort of overview over the things
    I've made. Hope you like it!
  </p>
</BaseLayout>
