---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title="Jakob Kielland" gap>
  <h1 class="text-4xl font-bold">Hi, I'm Jakob! 👋</h1>
  <p class="max-w-prose">
    I'm a developer who has a unique talent for getting really interested in
    niche things (ask me about my pokemon spreadsheet or wine certification). I
    enjoy all parts of the stack, but am partial to the frontend, and apparently
    I am unusually interested in CSS.
  </p>
  <p class="max-w-prose">
    Besides computers, I have a passion for travelling and teaching. I often get
    to combine these interests when speaking at conferences such as, recently,
    Booster Conf and NDC Oslo.
  </p>
  <p class="max-w-prose">
    This page is a place for me to collect the things I've wanted to put on the
    internet, be they stories of pranks from my high school years, game guides
    or an under-fed blog. Enjoy your stay! 🚀
  </p>
</BaseLayout>
