---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Jakob Kielland">
  <main class="flex flex-row">
    <h1 class="text-4xl">Hi, I'm Jakob!</h1>
  </main>
</Layout>
