---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title="Jakob.fun">
  <div class="flex-1"><!-- Cool thing goes here --></div>
  <h1 class="self-end text-6xl">I'm Jakob</h1>
</BaseLayout>
