---
import { Icon } from "astro-icon/components";
---

<footer class="col-span-full flex flex-col items-end bg-[#000] p-1 text-sm">
  <nav class="flex gap-4">
    <a class="link-hover flex align-middle" href="https://github.com/itzjacki"
      ><Icon class="size-6" name="github-logo" />GitHub</a
    >
    <a
      class="link-hover flex align-middle"
      href="https://www.linkedin.com/in/jakobkielland/"
      ><Icon class="size-6" name="linkedin-logo" />LinkedIn</a
    >
    <a class="link-hover flex align-middle" href="/rss.xml"
      ><Icon class="size-6" name="rss" />RSS</a
    >
  </nav>
</footer>
