<header class="mb-8 flex justify-center gap-12 py-16 text-lg">
  <a class="bracketLink" href="/">[ Jakob.fun ]</a>
  <a class="bracketLink" href="cool_stuff">[ Cool stuff ]</a>
  <a class="bracketLink" href="portfolio">[ Portfolio ]</a>
  <a class="bracketLink" href="contact">[ Contact ]</a>
</header>
