<!-- Currently unused -->
<section>
  <p>Want to be the first in line for freshly baked blog posts?</p>
  <script
    async
    src="https://eocampaign1.com/form/aff60cd4-3890-11ef-9b99-779cb613a5b4.js"
    data-form="aff60cd4-3890-11ef-9b99-779cb613a5b4"></script>
</section>
