---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Cool stuff - Jakob Kielland" gap>
  <h1 class="text-4xl">Cool stuff</h1>
  <p>
    A collection of various more or less interesting projects and other things.
    Enjoy! 😎
  </p>
</Layout>
