---
import "@/globals.css";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import SpeedInsights from "@vercel/speed-insights/astro";
import Analytics from "@vercel/analytics/astro";

export interface Props {
  title: string;
  gap?: boolean;
  includeNewsletter?: boolean;
}

const { title, gap = false, includeNewsletter = false } = Astro.props;
---

<!doctype html>
<html lang="en" class="text-slate-100">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🪐</text></svg>"
    />
    <link
      rel="alternate"
      type="application/rss+xml"
      title={title}
      href={new URL("rss.xml", Astro.site)}
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <SpeedInsights />
    <Analytics />
  </head>
  <body class="flex min-h-screen flex-col">
    <Header />
    <main class=`mx-4 flex flex-1 flex-col items-center ${gap && "gap-8"}`>
      <slot />
    </main>
    <Footer includeNewsletter={includeNewsletter} />
  </body>
</html>

<style>
  html {
    background-color: #0b0005;
    background-image:
      linear-gradient(90deg, #0b0005e0), url("/images/noise.svg");
  }
</style>
