---
import BaseMdPost from "@/layouts/BaseMdPost.astro";

const { frontmatter } = Astro.props;
---

<BaseMdPost title={frontmatter.title}>
  <a href="/fun" class="link-hover mb-4 block no-underline">← Back</a>
  <h1>
    {frontmatter.title}
  </h1>

  <slot />
</BaseMdPost>
