---
import BaseLayout from "@/layouts/BaseLayout.astro"
---

<BaseLayout title="Portfolio - Jakob Kielland" gap>
  <h1 class="text-4xl font-bold">Portfolio!</h1>
  <p>
    I code good. I also <a
      class="link-hover underline"
      href="https://youtu.be/DN3cbmkA8dU">hold talks sometimes</a
    >.
  </p>
</BaseLayout>
