---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Portfolio - Jakob Kielland">
  <h1 class="text-4xl">Portfolio!</h1>
  <p>
    I code good. I also <a
      class="link-hover underline"
      href="https://youtu.be/DN3cbmkA8dU">hold talks sometimes</a
    >.
  </p>
</Layout>
